/* popup.css */
body {
    width: 320px;
    background-color: #f8f9fa;
}

h5 {
    color: #0d6efd; /* Cor primária do Bootstrap */
    font-weight: 600;
}

/* Remove o padding padrão para que o `list-group` toque nas bordas */
.list-group-item {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/* Garante que o ícone e o texto estão alinhados */
.list-group-item span {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.form-label-sm {
    font-size: 0.95rem;
}

.form-check-label {
    cursor: pointer;
}